* {
    padding: 0;
    margin: 0;
  }
 
  html {
    scroll-behavior: smooth;
  }
  body {
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;
    border-radius: 10px;
   
    transition: 0.7s ease-in-out;
  }
header{
    
    background-color:  rgb(55, 117, 105);
    height: 150px;
    width: 100%;

    
  
  position: relative;
 text-decoration: none;
        
 transition: 0.1s linear;
 font-size: calc(1rem + 1vw);


 display: flex;
 justify-content: space-between ;
      
    
}

p{
    font-size: 15px;
    margin: 10px;
}
h4,
h2,
h1{
    font-size: 27px;
    margin: 10px;
}

img{
    width: 10%;
    margin: 4px;
}

.contenue{
    border: 2px solid rgb(113, 161, 206);
    background-color:  rgb(113, 161, 206);
    
    
}

.test4{
    display: flex;
    justify-content: space-between;
    
}



.table1{
    background-color: white;
    
}
.first_settler2{
    background-color: rgba(221, 217, 217, 0.496);
    
    
}
input{
    border: 0px;
    width: 20vw;
   

    
}

.first_settler{
    width: 50%;
    }

.first{
        border: 0px;
        background-color:  rgb(55, 117, 105);
    }

.AA{
    display: flex;
    justify-content: space-between;
}

.dts{
  
    font-style: italic;
    font-size: 12px;
}





.table2{
    background-color:  rgb(113, 161, 206);
}

button {
    --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
    --border-width: .125em;
    --curve-size: .5em;
    --blur: 30px;
    --bg: #080312;
    --color: #afffff;
    color: var(--color);
      /* use position: relative; so that BG is only for .btn */
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    padding: .5em 1.5em;
    font-size: 17px;
    border: 0;
    text-transform: uppercase;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
    clip-path: polygon(
              /* Top-left */
              0% var(--curve-size),
  
              var(--curve-size) 0,
              /* top-right */
              100% 0,
              100% calc(100% - var(--curve-size)),
  
              /* bottom-right 1 */
              calc(100% - var(--curve-size)) 100%,
              /* bottom-right 2 */
              0 100%);
    transition: color 250ms;
  }
  
  button::after,
  button::before {
    content: '';
    position: absolute;
    inset: 0;
  }
  
  button::before {
    background: var(--border-color);
    background-size: 300% 300%;
    animation: move-bg7234 5s ease infinite;
    z-index: -2;
  }
  
  @keyframes move-bg7234 {
    0% {
      background-position: 31% 0%
    }
  
    50% {
      background-position: 70% 100%
    }
  
    100% {
      background-position: 31% 0%
    }
  }
  
  button::after {
    background: var(--bg);
    z-index: -1;
    clip-path: polygon(
              /* Top-left */
              var(--border-width) 
              calc(var(--curve-size) + var(--border-width) * .5),
  
              calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),
  
              /* top-right */
              calc(100% - var(--border-width)) 
              var(--border-width),
  
              calc(100% - var(--border-width)) 
              calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
  
              /* bottom-right 1 */
              calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
              /* bottom-right 2 */
              var(--border-width) calc(100% - var(--border-width)));
    transition: clip-path 500ms;
  }
  
  button:where(:hover, :focus)::after {
    clip-path: polygon(
                  /* Top-left */
                  calc(100% - var(--border-width)) 
  
                  calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      
                  calc(100% - var(--border-width))
  
                  var(--border-width),
      
                  /* top-right */
                  calc(100% - var(--border-width))
  
                   var(--border-width),
      
                  calc(100% - var(--border-width)) 
  
                  calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
      
                  /* bottom-right 1 */
                  calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) 
                  calc(100% - var(--border-width)),
  
                  /* bottom-right 2 */
                  calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
                  calc(100% - var(--border-width)));
    transition: 200ms;
  }
  
  button:where(:hover, :focus) {
    color: #fff;
  }

.tr_d{
  color: rgba(85, 76, 76, 0.983);
}



.tr
        {
            
            cursor: pointer;
            position: relative;
            text-decoration: none;
           
            transition: 0.1s linear;
            font-size: calc(0.8rem + 0.8vw);
        }
  
  .tr,
  .tr:visited {
          cursor: pointer;
          position: relative;
          text-decoration: none;
          
          transition: 0.1s linear;
          font-size: calc(0.8rem + 0.8vw);
        }

.tr::after {
            content: "";
            position: absolute;
            width: 80%;
            background: black;
            height: 2px;
            bottom: -4px;
            left: 0%;
            transform-origin: left;
        }

 .tr:hover {
          transform: scale(1.04);
          color: rgb(217, 217, 217);
        }
 .tr:hover::after {
          animation: animLink 1.4s infinite ease-in-out;
        }
 @keyframes animLink {
          50% {
            transform: scaleX(0.2);
          }
          100% {
            transform: scaleX(1);
          }
        }




  .tr2
   {
            
            cursor: pointer;
            position: relative;
            text-decoration: none;
           
            transition: 0.1s linear;
            
        }
  
  .tr2,
  .tr2:visited {
          cursor: pointer;
          position: relative;
          text-decoration: none;
          
          transition: 0.1s linear;
          
        }

.tr2::after {
            content: "";
            position: absolute;
            width: 80%;
            background: black;
            height: 2px;
            bottom: -4px;
            left: 0%;
            transform-origin: left;
        }

 .tr2:hover {
          transform: scale(1.04);
          color: rgb(217, 217, 217);
        }
 .tr2:hover::after {
          animation: animLink 1.4s infinite ease-in-out;
        }
 @keyframes animLink {
          50% {
            transform: scaleX(0.2);
          }
          100% {
            transform: scaleX(1);
          }
        }

.ZZ{
  font-weight: bold;
}










